{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load preferences %}

{% block title %}
    Mums and Dads Portal
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

            {% if student.child and student.family %}
                {% parents_view student %}

                {% sibling_view student %}
            {% elif not student.child and student.family %}
                {% children_view student %}
            {% endif %}

            {% if not student.child %}
                {% partner_preferences student partner_popup %}
            {% endif %}

            {% personal_preferences student preferences_popup %}
        </div>
    </div>
{% endblock %}
