container_commands:
  01_get_config:
    command: aws s3 cp s3://elasticbeanstalk-eu-west-2-946915505582/config/config.py . --region eu-west-2
  02_get_mysql_library:
    command: pip install mysqlclient==1.3.10
  03_migrate:
    command: python manage.py migrate --noinput
    leader_only: true
  04_create_fixtures:
    command: python manage.py loaddata portal.json
    leader_only: true
  05_create_superuser:
    command: echo "from django.contrib.auth.models import User; import os; User.objects.filter(username=os.environ['SU_NAME']).exists() or User.objects.create_superuser(os.environ['SU_NAME'], os.environ['SU_EMAIL'], os.environ['SU_PASSWORD'])" | python manage.py shell
    leader_only: true
  06_collect_static_files:
    command: python manage.py collectstatic --noinput
